{% include 'core/partials/_cart_badge_link.html' %}


{% if messages %}
<div id="messages" hx-swap-oob="true" class="toast-container" aria-live="polite" aria-atomic="true">
{% for msg in messages %}
  <div class="toast-message toast-{{ msg.tags }}">
    {% if msg.tags == "error" %}<i class="bi bi-exclamation-circle-fill me-2"></i>
    {% elif msg.tags == "success" %}<i class="bi bi-check-circle-fill me-2"></i>
    {% elif msg.tags == "info" %}<i class="bi bi-info-circle-fill me-2"></i>
    {% elif msg.tags == "warning" %}<i class="bi bi-exclamation-triangle-fill me-2"></i>
    {% endif %}
    {{ msg }}
  </div>
{% endfor %}

</div>
{% endif %}
